.services {
  display: flex;
  flex-wrap: wrap;
  margin: -20px -15px 0;
}

.serviceContainer {
  margin-top: 40px;
  display: flex;
}

.service {
  width: 100%;
  background-color: #fff;
  padding: 30px 20px 20px;
  box-shadow: rgba(#000, 0.4) 0 3px 10px;
}

.title {
  line-height: 40px;
  @include ff-opensans-light;
  text-align: center;
  font-size: 36px;
  color: $color-main;

  //&:after {
  //  content: '';
  //  display: block;
  //  width: 60px;
  //  height: 4px;
  //  background-color: rgba($color-main, 0.12);
  //  margin: 30px auto 0;
  //}
}

.desc {
  margin-top: 30px;
  line-height: 28px;
  text-align: center;
  font-size: 15px;
}


@include media-tablet-landscape-and-higher {

  .serviceContainer {
    width: 33.33%;
    padding: 0 15px;
  }
}

@include media-tablet-portrait-and-lower {

  .serviceContainer {
    width: 100%;
  }
}
