.title {
  margin-bottom: 50px;
  line-height: 40px;
  @include ff-opensans-thin;
  text-align: center;
  font-size: 40px;

  b {
    position: relative;
    @include ff-opensans-bold;
    color: #3228ff;
  }
}
