.title {
  @include ff-opensans-thin;
  text-align: center;

  b {
    position: relative;
    @include ff-opensans-bold;
    color: #3228ff;
  }
}


@include media-except-mobile {

  .title {
    margin-bottom: 50px;
    line-height: 40px;
    font-size: 40px;
  }
}

@include media-mobile {

  .title {
    margin-bottom: 40px;
    line-height: 40px;
    font-size: 30px;
  }
}
