.mates {
  font-size: 0;
}

.mateContainer {
  width: 33.33%;
  padding: 20px;
  @include inline-block;

  .advisers & {
    width: 100%;
  }
}

.mate {
  position: relative;
}

.avatar {
  width: 100%;
  @include square-block;
  position: relative;
  z-index: 10;

  img {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.name {
  height: 24px;
  padding-top: 5px;
  position: absolute;
  bottom: -26px;
  right: 50%;
  z-index: 20;
  white-space: nowrap;
  line-height: 24px;
  text-transform: uppercase;
  text-align: right;
  font-size: 20px;
  transform: rotate(45deg);
  transform-origin: 100% 0;
}

.role {
  width: 63%;
  line-height: 24px;
  position: absolute;
  bottom: -26px;
  left: 50%;
  z-index: 20;
  white-space: nowrap;
  text-transform: uppercase;
  text-align: right;
  font-size: 16px;
  color: #3228ff;
  transform: rotate(-45deg);
  transform-origin: 0 0;
}
