.mates {
  max-width: 900px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -30px auto;
}

.mateContainer {
  padding: 30px;

  .advisers & {
    width: 100%;
  }
}

.mate {
  max-width: 300px;
  margin: 0 auto;
  position: relative;
  box-shadow: rgba(#000, 0.23) 0 3px 10px;
  @include no-user-select;
}

.avatar {
  width: 100%;
  @include square-block;
  position: relative;
  z-index: 10;

  img {
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.info {
  width: 100%;
  background: linear-gradient(transparent 0%, rgba(#0d1140, 0.7) 100%);
  padding: 30px 10px 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.role {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 14px;
  color: $color-ocean;
}

.name {
  margin-top: 5px;
  white-space: nowrap;
  line-height: 20px;
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
}


@include media-tablet-landscape-and-higher {

  .mateContainer {
    width: 33.33%;
  }
}

@include media-tablet-landscape {

  .name {
    font-size: 16px;
  }
}

@include media-tablet-portrait {

  .mateContainer {
    width: 50%;
  }
}

@include media-mobile {

  .mateContainer {
    width: 100%;
  }
}
