.container {
  text-align: center;
}


@include media-except-mobile {

  .container {

    [role="social"] {
      width: 50px;
      margin-left: 20px;
    }
  }
}

@include media-mobile {

  .container {

    [role="social"] {
      width: 32px;
      margin-left: 10px;
    }
  }
}
