.flex {
  height: 100%;
  padding: 0 15px;
}

.logo {
  height: 30px;
  display: block;

  [role="title"] {
    font-size: 20px;
  }
}

.createPost {
  display: block;
  padding: 0 10px !important;
}
