.socials {
  margin-top: 50px;
  text-align: center;
}


@include media-except-mobile {

  .socials {

    [role="social"] {
      width: 40px;
      margin-left: 20px;
    }
  }
}

@include media-mobile {

  .socials {

    [role="social"] {
      width: 32px;
      margin-left: 10px;
    }
  }
}
