.content {
  max-width: 800px;
  background-color: #fff;
  margin: 0 auto;
  padding: 20px;
  border-radius: 2px;
  box-shadow: rgba(#000, 0.4) 0 3px 10px;

  span {
    @include ff-opensans-bold;
  }

  h5 {
    margin-bottom: 10px;
    font-size: 14px;
  }

  ul {
    padding-left: 20px;
  }

  li {
    padding-top: 10px;

    &:first-child {
      padding-top: 0;
    }
  }
}

.schemeImage {
  display: block;
}

.desc {
  margin-top: 30px;
  line-height: 22px;
  font-size: 14px;
}


@include media-except-mobile {

  .schemeImage {
    max-width: 500px;
    margin: 0 auto;
  }
}

@include media-mobile {


  .schemeImage {
    width: 100%;
  }
}
