.hamburgerContainer {
  height: $height-header-mobile;
  position: relative;
}

.hamburger {
  width: 50px;

  img {
    height: 16px;
    display: block;
    @include absolute-centring;
  }
}

.dropDown {
  position: relative;
}

.dropMenu {
  background-color: #000;
  position: absolute;
  top: $height-header-mobile;
  left: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.dropMenuItem {
  display: block;
  border-top: 1px solid #262626;
  padding: 0 20px;
  line-height: 60px;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;

  &:first-child {
    border-top: 0;
  }
}
