@mixin ff-opensans-thin {
  font-family: 'Open Sans';
  font-weight: 300;
}

@mixin ff-opensans {
  font-family: 'Open Sans';
}

@mixin ff-opensans-bold {
  font-family: 'Open Sans';
  font-weight: 600;
}
