.dropMenu {
  min-width: 100%;
  max-height: 238px;
  background-color: #fff;
  border: 1px solid $color-border;
  border-top: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  right: 0;
  box-shadow: rgba(#000, 0.13) 0 1px 3px;
}

.dropMenuItem {
  display: block;
  line-height: 34px;
  padding: 0 12px;
  white-space: nowrap;
  text-decoration: none !important;
  font-size: 12px;
  color: #000;

  &:first-child {
    border-top: 0;
  }

  &:hover {
    background-color: #f8f8f8;
  }
}
