.field {
  margin-top: 20px;
}

.footer {

}

.forgotLink,
.brandLink {
  cursor: pointer;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}

.brandLink {
  color: $color-brand;
}

.rules {
  line-height: 24px;
  padding: 20px;
  text-align: center;
  font-size: 12px;

  a {
    text-decoration: underline;
    color: #000 !important;

    &:hover {
      text-decoration: none;
    }
  }
}

.haveAccount {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}


@include media-except-mobile {

  .authModal {
    min-width: 500px;
  }

  .footer {
    padding: 20px 0 30px;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    font-size: 0;
  }

  .forgotLink,
  .brandLink {
    @include inline-block;
  }

  .brandLink {
    margin-left: 10px;
  }
}

@include media-mobile {

  .footer {
    padding: 20px 0 30px;
  }

  .brandLink {
    margin-top: 10px;
  }
}
