.nav {
  font-size: 0;
}

.navItem {
  @include inline-block;
  margin-left: 40px;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-size: 12px;
  // color: #7772e2;
  color: #b3bcea;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    color: #fff;
  }
}
