.nav {
  font-size: 0;
}

.navItem {
  @include inline-block;
  margin-left: 40px;
  text-decoration: none !important;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  font-size: 12px;
  // color: #7772e2;
  color: #98a2da;

  span {
    color: #5e6898;
  }

  &:first-child {
    margin-left: 0;
  }

  &.pointer {
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}


@include media-mobile {

  .navItem {
    display: none;

    &:first-child {
      @include inline-block;
    }
  }
}
