.widthContainerIn {

  &.relative {
    position: relative;
  }
}

.fullHeight {
  height: 100%;
}


@include media-except-mobile {

  .widthContainer {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 20px;

    &.main {
      padding: 20px 0 70px;
    }
  }
}

@include media-mobile {

  .widthContainer {
    padding: 0;

    &.main {
      padding: 20px 0 30px;
    }
  }
}
