.hero {
  background-color: #201e46;
  background-image: url(./images/bg.png), url(./images/bg.png);
  background-size: 200px auto;
  background-repeat: repeat;
  position: relative;
  overflow: hidden;
  @include no-user-select;
}


.header {
  height: 60px;
  line-height: 60px;
  position: relative;
  z-index: 30;
}

.logo {
  text-transform: uppercase;
  font-size: 22px;
  color: #fff;
  @include ff-opensans;
}


.content {
  z-index: 20;
}

.logoIcon {
  width: 100px;
  height: 100px;
}

.title {
  margin-top: -20px;
  @include ff-opensans-bold;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.subTitle {
  @include ff-opensans-thin;
  text-align: center;
  color: #00ff99;

  span {
    padding: 0 3px;
    letter-spacing: 1.1px;
    @include ff-opensans-bold;
    text-shadow: #000 0 0 1px;
  }
}

.button {
  @include inline-block;
  height: 40px;
  line-height: 38px;
  border: 1px solid #7772e2;
  cursor: pointer;
  @include ff-opensans-thin;
  text-decoration: none !important;
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  color: #7772e2;
  border-radius: 20px;

  &:hover {
    border-color: #6d66ff;
    color: #6d66ff;
    box-shadow: #6d66ff 0 0 2px;
  }
}


/* Boxes ------------------------------------------------- */

.boxes {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.boxGroup {
  position: absolute;
  z-index: 20;
}

.box {
  @include square-block;
  position: absolute;

  &:after {
    content: '';
    width: 100%;
    height: 100%;
    display: block;
    background-image: url(./images/bg.png), url(./images/bg.png);
    background-size: 200px auto;
    background-repeat: repeat;
    transform-origin: center;
    transform: rotate(45deg);
  }
}


.boxGroup1 {
  left: 30px;
  bottom: 30px;
}

@keyframes levitation1 {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(0, 10px, 0); }
}

.box1 {
  width: 200px;
  bottom: -70px;
  left: 100px;
  animation: levitation1 4s alternate ease-in-out infinite;

  &:after {
    background-color: #407bff;
    opacity: 0.4;
  }
}

@keyframes levitation2 {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(0, -40px, 0); }
}

.box2 {
  width: 80px;
  bottom: 80px;
  left: 20px;
  animation: levitation2 4s alternate ease-in-out infinite;

  &:after {
    background-color: #2bff90;
    opacity: 0.6;
  }
}

@keyframes levitation3 {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(0, 60px, 0); }
}

.box3 {
  width: 40px;
  bottom: 150px;
  left: 135px;
  animation: levitation3 3s alternate ease-in-out infinite;

  &:after {
    background-color: #00ffea;
    opacity: 0.7;
  }
}

@keyframes levitation4 {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(0, 20px, 0); }
}

.box4 {
  width: 24px;
  bottom: 220px;
  left: 90px;
  animation: levitation4 2.2s alternate ease-in-out infinite;

  &:after {
    background-color: #5c47ff;
    opacity: 0.8;
  }
}


.boxGroup2 {
  right: 30px;
  bottom: 200px;
}

@keyframes levitation5 {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(0, 10px, 0); }
}

.box5 {
  width: 300px;
  right: -140px;
  bottom: 30px;
  animation: levitation6 5s alternate ease-in-out infinite;

  &:after {
    background-color: #6652ff;
    opacity: 0.3;
  }
}

@keyframes levitation6 {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(0, -30px, 0); }
}

.box6 {
  width: 120px;
  right: 50px;
  bottom: 20px;
  animation: levitation6 3s alternate ease-in-out infinite;

  &:after {
    background-color: #00b6ff;
    opacity: 0.7;
  }
}


.box7 {
  width: 900px;
  top: -340px;
  left: 100px;

  &:after {
    background-color: #00b6ff;
    opacity: 0.07;
  }
}

.box8 {
  width: 34%;
  right: -5%;
  bottom: -5%;

  &:after {
    background-color: #00ffea;
    opacity: 0.03;
  }
}

@keyframes levitation9 {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(0, 20px, 0); }
}

.box9 {
  width: 300px;
  left: -50px;
  top: 90px;
  animation: levitation9 6s alternate ease-in-out infinite;

  &:after {
    background-color: #2646c1;
    opacity: 0.17;
  }
}

.box10 {
  width: 100px;
  top: -10px;
  left: 700px;

  &:after {
    background-color: #00b6ff;
    opacity: 0.08;
  }
}


@include media-except-mobile {

  .hero {
    height: 100vh;
  }

  .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .centringContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: auto;
    white-space: nowrap;
    text-align: center;
    font-size: 0;

    &:before {
      content: '';
      height: 100%;
      @include inline-block;
      vertical-align: middle;
    }
  }

  .centringContent {
    @include inline-block;
    white-space: normal;
    vertical-align: middle;
    text-align: left;
  }

  .title {
    font-size: 36px;
  }

  .subTitle {
    margin-top: 25px;
    font-size: 26px;
  }

  .buttons {
    margin-top: 90px;
    text-align: center;
    font-size: 0;
  }

  .button {
    padding: 0 40px;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }
  }
}

@include media-mobile {

  .content {
    padding: 30px 20px 40px;
    position: relative;
  }

  .title {
    font-size: 20px;
  }

  .subTitle {
    margin-top: 20px;
    font-size: 18px;
  }

  .buttons {
    margin-top: 40px;
  }

  .button {
    display: block;
    background-color: #201e46;
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  .boxes {
    opacity: 0.3;
  }

  .box {
    animation: none !important;
  }
}
